<!DOCTYPE html>
<html>
	<head>
		<title>Hourly Weather</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style_retro.css') }}">
	</head>
	<body>
		<h1>Hourly Forecast</h1>

		<a href="{{ url_for('goto_set_outfit') }}">
			<button>Set an outfit</button>
		</a>

		<table border="1">
			<thead>
				<tr>
					<th>Time</th>
					<th>Temperature (°C)</th>
					<th>Windspeed (km/h)</th>
				</tr>
			</thead>
			<tbody id="weather-table"></tbody>
		</table>

			<input type="text" id="city-input" placeholder="Enter city">
			<button type="submit" id="submit-city">Submit</button>


		<script src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
</html>

