<!DOCTYPE html> 
<html> 
	<head> 
		<title>Manage Outfits</title> 
		<link rel="stylesheet" href="{{ url_for('static', filename='style_retro.css') }}"> 
	</head>
	<body>
		<h1>Manage Outfits</h1>

		<div class="outfit-grid">
		</div>
		<div class="error"></div>
			<button type="button" id="delete-btn">Delete Selected Outfits</button>
			<button type="button" id="save-outfit">Save Changes</button>
		</form>

		<script src="{{ url_for('static', filename='js/manage_outfits.js') }}"></script>
	</body>
</html>


