<!DOCTYPE html> 
<html> 
	<head> 
		<title>Set Outfit</title> 
		<link rel="stylesheet" href="{{ url_for('static', filename='style_retro.css') }}"> 
	</head>
	<body>
		<h1>Set Outfit</h1>

		<form>
			<div class="wrapper" id="inputContainers">
				<!-- Dynamic input field -->
			</div>
			<button type="button" onclick="addInputContainer()">Add Clothing category</button>

			<div class="wrapper" id="tags">
				<!-- Dynamic input field -->
			</div>
			<button type="button" id="tag-btn">Add Tag for Outfit</button>

			<div style="margin-top: 4vh">
				<button type="button" id="submit-outfit">Save Outfit</button>
			</div>
		</form>

		<script src="{{ url_for('static', filename='js/set_outfit.js) }}"></script>
	</body>
</html>


