<!DOCTYPE html> 
<html> 
	<head> 
		<title>Set Outfit</title> 
		<link rel="stylesheet" href="{{ url_for('static', filename='style/set_outfit.css') }}"> 
	</head>
	<body>
		<h1>Set Outfit</h1>

		<form>
			<div class="row">
				<div class="column">
					<table class="scroll-table">
						<thead>
							<tr>
								<th>Type</th>
								<th>Piece</th>
							</tr>
						</thead>
						<tbody id="pieces-table"></tbody>
					</table>
				</div>

				<div class="column">
					<table class="scroll-table">
						<thead>
							<tr>
								<th>Outfit</th>
							</tr>
						</thead>
						<tbody class="outfit-table" id="outfit-table"></tbody>
					</table>
					
					<div id="inputContainers">
						<button onclick="addInputContainer()">Add Tag</button>
					</div>
				</div>
			</div>
			<div style="margin-top: 4px">
				<button type="button" id="submit-outfit">Save Outfit</button>
			</div>
		</form>

		<script src="{{ url_for('static', filename='js/set_outfit.js') }}"></script>
	</body>
</html>


